{% extends "Pizzas/base.html" %}

{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<p>
  <space>








  </space>
</p>
<section class="w3-container w3-center" style="max-width:7000PX">
    <h2 class="w3-wide"><font size="+100">Pizzeria</font></h2>
    <p class="w3-opacity"><i>#1 Pie in Town  </i></p>

    <p class="w3-opacity"><i> Call 1-800 PIZZA to place a delivery today, and we will have it to you in 30 minutes or less </i></p>
  </section>


  

 



{% endblock content %}


